@use "_variables.scss";

nav {
    justify-content: space-around;
    min-height: 1.5%;
    border-bottom: 1px solid variables.$borderBottom;
    align-items: center;
}

nav img:hover {
    cursor: pointer;
}

.search {
color: variables.$backText;
background: variables.$inputBackground;
direction:rtl;
border: none;
border-radius: 10px;
min-height: 80%;
font-size:large;

}

.searchCon {
    position: relative;
}

.searchCon img {
    position: absolute;
    top:25%;
}

.rightFlex {
    justify-content: space-around;
    min-width: 30%;

 img {
    max-height: 60%;
    }
}


.profile {
    border-radius: variables.$round;
    max-height: 80% !important;
}

.mainDash {
    margin-top: 5%;
    min-height: 100%;

}

.mainSec {
flex-direction: column;
align-items: center;
width: 50%;
min-height: 100%;
}

.stories {
    align-items: center;
    width: 55%;
background: #ffffff;
border: 1px solid #dfdfdf;
min-height: 80px;
justify-content: center;
    justify-content: space-between;
    min-width: 100%;
    overflow: hidden;
    img {
        position: relative;
        text-align: center;
        border-radius: variables.$round;
        padding: 3px;
        height: 45px;
        margin-left: 2%;
        margin-right: 2%;
        background: linear-gradient(to top right, rgb(255, 166, 0), rgb(235, 11, 235))
        }
        img:hover {
            cursor: pointer;
        }
}

.posts {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background: #ffffff;
border: 1px solid #dfdfdf;
    margin-top: 10%;
}

.top {
    justify-content: space-between;
    border-bottom: 1px solid variables.$borderBottom;
}

.likes {
    justify-content: flex-start;
    align-items: center;
    p {
        font-family: variables.$family;
      margin-left: 2%;
      margin-right: 2%;
      font-size: small;
    }

    a {
        font-family: variables.$family;
        font-weight: bold;
        font-size: small;
    }

    a:hover {
        cursor: pointer;
    }

    img {
        border-radius: variables.$round;
        height: 20px;
    }
    img:hover {
        cursor: pointer;
    }
        
    p:hover {
        cursor:default;
    }
}

.topLeft {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    img {
        border-radius: variables.$round;
        height: 20px;
        margin-left: 30%;
        margin-right: 15%;
    }

   img:hover{
        cursor: pointer;
    }
p {
    font-family: variables.$family;
    font-weight: bold;
    font-size: x-small;
}

p:hover{
    cursor: pointer;
}
}

.topRight {
    margin-right: 5%;
    p {
    font-family: variables.$family;
    font-weight:bolder;
    font-size:medium;
    color: variables.$backText;
}
p:hover {
    cursor: pointer;
}
}

.interactions {
    margin-top: 3%;
    padding-right: 2%;
    margin-left: 2%;
    justify-content: space-between;
    align-items: center;
    img:hover{
        cursor: pointer;
    }
}

.leftInt {
    padding-left: 4%;
    min-width: 20%;
    justify-content: space-between;
}

.rightInt{
    align-items: center;
    justify-content: center;
    height: 20px;
}

.description {
    margin-top: -2%;
    justify-content: flex-start;
    align-items: center;
    a {
        font-family: variables.$family;
        font-weight: bold;
        font-size: small;
        margin-left: 2%;
        margin-right: 2%;
    }

    a:hover {
        cursor: pointer;
    }

    p:hover {
        cursor:default;
    }
    p {
        font-family: variables.$family;
        font-size: small;
    }
}

.comments {
    margin-top: -3%;
    p {
        margin-left: 2%;
        color:variables.$backText;
        font-family: variables.$family;
       font-size:small;
    }

    p:hover {
        cursor: pointer;
    }
}

.hours {
    margin-left: 2%;
    color:grey;
    font-family: variables.$family;
   font-size:small;
}

// rigth side of dashboard

.mainRight {
    margin-left: 3%;
    align-items: center;
    img {
        margin-left: 20%;
        height: 40px;
        border-radius: variables.$round;
    }
    img:hover {
        cursor: pointer;
    }
}

.name {
    margin-left: 4%;
    flex-direction: column;
    justify-content: center;
    a {
       font-family: variables.$family; 
       font-weight: bold;
    }

    a:hover{
        cursor: pointer;
    }

    p {
        font-family: variables.$family; 
        font-size: small;
    }
}

.switch{
    margin-left: 20%;
    font-family: variables.$family; 
    font-weight: bold;
    color: #139cf6;
    font-size: small;
}

.switch:hover {
    cursor: pointer;
}