@use "_variables.scss";

nav {
    justify-content: space-around;
    border-bottom: 1px solid #dfdfdf;
}

nav img:hover {
    cursor: pointer;
}

.search {
color: variables.$backText;
background: variables.$inputBackground;
direction:rtl;
border: none;
border-radius: 10px;
min-height: 80%;
font-size:large;

}

.searchCon {
    position: relative;
}

.searchCon img {
    position: absolute;
    top:25%;
}

.rightFlex {
    justify-content: space-around;
    min-width: 30%;
}

.rightFlex img {
    max-height: 60%;
}

.profile {
    border-radius: variables.$round;
    max-height: 80% !important;
}