@use "_variables.scss";

nav {
    justify-content: space-around;
    border-bottom: 1px solid #dfdfdf;
}

nav img:hover {
    cursor: pointer;
}

.search {
color: variables.$backText;
background: variables.$inputBackground;
direction:rtl;
border: none;
border-radius: 10px;
min-height: 80%;
font-size:large;

}

.searchCon {
    position: relative;
}

.searchCon img {
    position: absolute;
    top:25%;
}

.rightFlex {
    justify-content: space-around;
    min-width: 30%;

 img {
    max-height: 60%;
    }
}


.profile {
    border-radius: variables.$round;
    max-height: 80% !important;
}

main {
    margin-top: 5%;
}

.mainSec {
    min-width: 40%;
flex-direction: column;
margin-right: 10%;
background: #ffffff;
border: 1px solid #dfdfdf;
min-height: 80px;
justify-content: center;
img {
    position: relative;
    text-align: center;
    border-radius: variables.$round;
    padding: 3px;
    margin-left: 2%;
    margin-right: 2%;
    background: linear-gradient(to top right, rgb(255, 166, 0), rgb(255, 0, 85))
    }

    img:hover {
        cursor: pointer;
    }
}





.stories {
    justify-content: space-between;
    min-width: 100%;
    height: 50%;
    overflow: hidden;

}

