@use "_variables.scss";
.left {
    @include variables.flexProperties;
}

.right{
    @include variables.flexProperties;
}

article{
    @include variables.flexProperties;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
}

.logInput {
@include variables.logInput;
}

.submit {
@include variables.button;
@include variables.buttonFont;
}

 %formCon{

    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}