@use "_variables.scss";
.left {
    @include variables.flexProperties;
}

.right{
    @include variables.flexProperties;
}

article{
    @include variables.flexProperties;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
}

.logInput {
@include variables.logInput;
}

.submit {
@include variables.button;
@include variables.buttonFont;
}

.topBorder {
color: #ffffff;
border-top: 1px solid #989898;
}

.holder{
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 5%;
    @include variables.flex;
    flex-direction: column;
    max-height: 50%;
}

.middleFlex {
    margin-top: 10%;
justify-content: center;
}

.or {
    color: #989898;
    font-family: variables.$family;
    font-size: small;
}

.facebook{
    justify-content: center
}

.facebook div {
color: #385185;
font-family: variables.$family;
font-weight: bold;
}