.formCon {
  background: #ffffff;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  min-width: 99%;
  display: flex;
  flex-direction: column;
  max-height: 60%;
}

.flex {
  display: flex;
}

nav {
  justify-content: space-around;
  border-bottom: 1px solid #dfdfdf;
}

nav img:hover {
  cursor: pointer;
}

.search {
  color: #989898;
  background: #efefef;
  direction: rtl;
  border: none;
  border-radius: 10px;
  min-height: 80%;
  font-size: large;
}

.searchCon {
  position: relative;
}

.searchCon img {
  position: absolute;
  top: 25%;
}

.rightFlex {
  justify-content: space-around;
  min-width: 30%;
}
.rightFlex img {
  max-height: 60%;
}

.profile {
  border-radius: 50%;
  max-height: 80% !important;
}

.mainDash {
  margin-top: 5%;
  min-height: 100%;
}

.mainSec {
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 100%;
}
.mainSec img {
  position: relative;
  text-align: center;
  border-radius: 50%;
  padding: 3px;
  height: 60%;
  margin-left: 2%;
  margin-right: 2%;
  background: linear-gradient(to top right, #ffa600, #ff0055);
}
.mainSec img:hover {
  cursor: pointer;
}

.stories {
  align-items: center;
  width: 55%;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  min-height: 80px;
  justify-content: center;
  justify-content: space-between;
  min-width: 100%;
  overflow: hidden;
}

.posts {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  margin-top: 10%;
  min-height: 20%;
}

.top {
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.right {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  min-width: 20%;
  align-items: center;
}

article {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 32px auto 0;
  padding-bottom: 32px;
  width: 100%;
}

.logInput {
  font-size: 12px;
  height: 36px;
  left: 8px;
  line-height: 36px;
  overflow: hidden;
  color: rgba(var(--f52, 142, 142, 142), 1);
  text-overflow: ellipsis;
  background: #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  flex: 1 0 auto;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  margin-top: 5%;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  min-width: max-content;
  border: 1px solid #dedede;
}

.submit {
  appearance: none;
  background: 0 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #0095f6;
  color: white;
  width: 100%;
  border-radius: 4px;
  margin-top: 10%;
}

.topBorder {
  color: #ffffff;
  border-top: 1px solid #989898;
}

.topBorder:hover {
  cursor: default;
}

.holder {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  max-height: 50%;
}

.middleFlex {
  margin-top: 10%;
  justify-content: center;
}

.or {
  color: #989898;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: small;
}

.facebook {
  justify-content: space-around;
}

.facebook div {
  color: #385185;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.facebook img {
  margin-right: 10%;
}

.facebook div:hover {
  cursor: pointer;
}

.logForm {
  display: flex;
  flex-direction: column;
}

.formCon h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, cursive;
}

.forgotPass {
  margin-top: 2%;
  color: #1e4f7c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: small;
}

.forgotPass:hover {
  cursor: pointer;
}

.lowerSec {
  background: #ffffff;
  align-items: center;
  border: 1px solid #dbdbdb;
  justify-content: center;
  min-height: 9%;
  min-width: 99%;
}

.lowerSec div {
  margin-left: 5%;
  margin-right: 5%;
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: small;
}

.sign {
  font-weight: bold;
  color: #2ca7f6;
}

.sign:hover {
  cursor: pointer;
}

.get {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-top: 2%;
}

.apps {
  margin-top: 4%;
  justify-content: center;
}

.apps img {
  margin-left: 3%;
  margin-right: 3%;
}

.apps img:hover {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

body {
  background: #fafafa;
}

html, body {
  margin: 0;
  height: 200%;
}

/*# sourceMappingURL=style.css.map */
